<% provide(:title, t("views.services.title")) %>
<div class="slider-area2">
  <div class="slider-height2 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap hero-cap2 text-center">
            <h2 class="cd-headline letters scale">
              <%= t("views.services.title") %>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= form_tag(services_path, method: :get, class: "row justify-content-center") do %>
  <%= text_field_tag :term %>
  <%= submit_tag t "staff.btn_search" %>
<% end %>

<% unless @services.any? %>
  <div class="row justify-content-center section-padding30">
    <div class="col-lg-6">
      <div class="section-tittle text-center mb-100">
        <h3><%= t "staff.empty_field" %></h3>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="container-service row">
        <%= render @services %>
      <%= will_paginate @services %>
    </div>
  </div>
<% end %>
