<tr>
  <td scope="row"><%= order_detail.service.name %></td>
  <td><%= l(order_detail.start_date, format: :default) %></td>
  <td><%= l(order_detail.end_date, format: :default) %></td>
  <td><%= number_to_currency(order_detail.service.price) %></td>
  <td><%= count_day order_detail %></td>
  <td><b><%= order_detail.into_money %><%= t "admin.manage_order.vnd" %></b></td>
</tr>
