<tr>
  <td scope="row"><%= order_detail.service.name %></td>
  <td><%= l(order_detail.start_date, format: :default) %></td>
  <td><%= l(order_detail.end_date, format: :default) %></td>
  <td><%= number_to_currency(order_detail.service.price) %></td>
  <td><%= count_day order_detail %></td>
  <td><%= number_to_currency(into_money order_detail) %></td>
</tr>
