<tbody class="order">
  <tr >
    <th colspan="2" class="table-head"><%= t "admin.manage_order.order" %><%= order.id %></th>
    <th class="table-head"><%= t "admin.manage_order.status" %><%= order.status %></th>
  </tr>
  <tr>
    <th><%= t "admin.manage_order.address" %></th>
    <th><%= order.account_address %></th>
    <th><%= link_to(t("admin.manage_order.accept"), edit_admin_order_path(id: order, status: Order.statuses[:approved]), class: "btn") if order.pending?%></th>
  </tr>
  <tr >
    <th><%= t "admin.manage_order.phone_number" %></th>
    <th><%= order.account_phone_number %></th>
    <th><%= link_to(t("admin.manage_order.reject"), edit_admin_order_path(id: order, status: Order.statuses[:cancel]), class: "btn-danger") if order.pending?%></th>
  </tr>
  <tr>
    <th colspan="2"><%= t "admin.manage_order.total" %></th>
    <td><b><%= number_to_currency(order.order_details.sum(:into_money)) %></b></td>
  </tr>
  <%= render partial: "order_detail", collection: order.order_details %>
</tbody>
