<header>
  <!--? Header Start -->
  <div class="header-area sticky-bar">
    <div class="main-header header-sticky">
      <div class="container-fluid">
        <div class="row align-items-center">

          <!-- Logo -->
          <div class="col-xl-2 col-lg-2 col-md-1">
            <div class="logo">
              <%= link_to image_tag("logo/logo.png"), root_path %>
            </div>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-10">
            <div class="menu-main d-flex align-items-center justify-content-end">
              <!-- Main-menu -->
              <div class="main-menu f-right d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li class="nav-item">
                      <%= link_to t("header.home"), root_path %>
                    </li>
                    <li class="nav-item">
                      <%= link_to t("header.about"), about_path %>
                    </li>
                    <li class="nav-item">
                      <%= link_to t("header.staffs"), our_staff_path %>
                    </li>
                    <li class="nav-item">
                      <%= link_to t("header.services"), "#" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to t("header.contact"), "#" %>
                    </li>
                    <% if logged_in? %>
                      <li class="dropdown">
                        <li>
                          <%= link_to current_account.full_name , root_path %>
                          <ul class="submenu">
                            <% if current_account.admin? %>
                              <li>
                                <%= link_to t("header.admin_page"), "#" %>
                              </li>
                            <% elsif current_account.staff? %>
                              <li>
                                <%= link_to t("header.staff_page"), "#" %>
                              </li>
                            <% end %>
                            <li><%= link_to t("header.profile"), current_account %></li>
                            <li><%= link_to t("header.change_pass"), "#" %></li>
                            <li><%= link_to t("header.update_profile"), edit_account_path(current_account) %></li>
                            <li class="divider"></li>
                            <li><%= link_to t("header.logout"), logout_path, method: :delete %></li>
                          </ul>
                        </li>
                      </li>
                    <% else %>
                      <li class="nav-item">
                        <%= link_to t("header.signup"), signup_path %>
                      </li>
                      <li class="nav-item">
                        <%= link_to t("header.login"), login_path %>
                      </li>
                    <% end %>
                  </ul>
                </nav>
              </div>
              <div class="flag-group">
                <%= link_to image_tag("flag/flag-US.jpg"), locale: :en %> |
                <%= link_to link_to image_tag("flag/flag-VN.jpg"), locale: :vi %>
              </div>
            </div>
          </div>
          <!-- Mobile Menu -->
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>
