
<header>
  <!--? Header Start -->
  <div class="header-area sticky-bar">
    <div class="main-header header-sticky">
      <div class="container-fluid">
        <div class="row align-items-center">
        
          <!-- Logo -->
          <div class="col-xl-2 col-lg-2 col-md-1">
            <div class="logo">
              <%= link_to image_tag("logo/logo.png"), root_path %>
            </div>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-10">
            <div class="menu-main d-flex align-items-center justify-content-end">
              <!-- Main-menu -->
              <div class="main-menu f-right d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li class="nav-item"><%= link_to t("header.home"), root_path %></li>
                    <li class="nav-item"><%= link_to t("header.about"), about_path %></li>
                    <li class="nav-item"><%= link_to t("header.staffs"), "#" %></li>
                    <li class="nav-item"><%= link_to t("header.services"), "#" %></li>
                    <li class="nav-item"><%= link_to t("header.contact"), "#" %></li>
                  </ul>
                </nav>
              </div>
              <div class="flag-group">
                <%= link_to image_tag("flag/flag-US.jpg"), locale: :en %> |
                <%= link_to link_to image_tag("flag/flag-VN.jpg"), locale: :vi %>
              </div>
            </div>
          </div>
          <!-- Mobile Menu -->
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>
