<% provide(:title, t("views.orders.index.title")) %>
<div class="container">
  <div>
    <h1><%= t "views.orders.index.heading" %></h1>
  </div>
  <% if @orders.present? %>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">
            <%= t "views.orders.index.id" %>
          </th>
          <th scope="col">
            <%= t "views.orders.index.detail" %>
          </th>
          <th scope="col">
            <%= t "views.orders.index.status" %>
          </th>
          <th scope="col">
            <%= t "views.orders.index.created_at" %>
          </th>
          <th scope="col">
            <%= t "views.orders.index.btn_update" %>
          </th>
          <th scope="col">
            <%= t "views.orders.index.btn_cancel" %>
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render @orders %>
      </tbody>
    </table>
  <% else %>
    <h1><%= t "views.orders.index.no_data" %></h1>
  <% end %>
</div>
