<% provide(:title, t("views.orders.show.title")) %>
<div class="container">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-10">
        <h1><%= t "views.orders.show.title" %></h1>
      </div>
      <div class="col-md-2 align-self-end">
        <h4><%= link_to t("views.orders.show.back"), orders_path %></h1>
      </div>
    </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col"><%= t "views.orders.show.s_name" %></th>
          <th scope="col"><%= t "views.orders.show.start_date" %></th>
          <th scope="col"><%= t "views.orders.show.end_date" %></th>
          <th scope="col"><%= t "views.orders.show.price" %></th>
          <th scope="col"><%= t "views.orders.show.num_day" %></th>
          <th scope="col"><%= t "views.orders.show.into_money" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @order_details %>
      </tbody>
    </table>
  </div>
  <div class="col-md-12">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col"><%= t "views.orders.show.total_money" %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= number_to_currency(total_money @order) %></td>
        </tr>
      </tbody>
      <thead class="thead-dark">
        <tr>
          <th scope="col"><%= t "views.orders.show.name" %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @order.account_name %></td>
        </tr>
      </tbody>
      <thead class="thead-dark">
        <tr>
          <th scope="col"><%= t "views.orders.show.address" %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @order.address %></td>
        </tr>
      </tbody>
      <thead class="thead-dark">
        <tr>
          <th scope="col"><%= t "views.orders.show.phone" %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @order.phone %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
