<div class="content-container">
  <h1><%= t "admin.statistic.customers" %></h1>
  <%= line_chart admin_statistics_accounts_path %>
</div>

<div class="content-container">
  <h1><%= t "admin.statistic.staffs" %></h1>
  <%= line_chart admin_statistics_staffs_path %>
</div>

<div class="content-container">
  <h1><%= t "admin.statistic.revenue" %></h1>
  <%= line_chart admin_statistics_revenue_path %>
</div>

<div class="content-container">
  <h1><%= t "admin.statistic.reviews" %></h1>
  <%= line_chart admin_statistics_reviews_path %>
</div>


