<% if @carts.any? %>
  <div class="container">
    <table class="table table-hover">
        <tr>
          <th colspan="2"><%= t "cart.service" %></th>
          <th><%= t "cart.date" %></th>
          <th class="text-center"><%= t "cart.price" %></th>
          <th class="text-center"><%= t "cart.into_money" %></th>
          <th> </th>
        </tr>
      <tbody>
        <% @carts.each do |cart| %>
          <% cart = OrderDetail.new(cart) %>
          <tr>
            <td>
              <%= image_tag cart.service.image %>
            </td>
            <td>
              <h4><%= cart.service.name %></h4>
              <h6><%= cart.service.major_name %></h6>
            </td>
            <td>
              <p><%= l(cart.start_date, format: :default) %></p>
            
              <p><%= l(cart.end_date, format: :default) %></p>
            </td>
            <td><strong><%= number_to_currency(cart.service.price) %></strong></td>
            <td><strong><%= number_to_currency(cart.into_money) %></strong></td>
            <td>
              <%= link_to t("cart.remove"), remove_service_path(service_id: cart.service_id), method: :delete, class: "btn-danger" %></strong>
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan="5"><h3><%= t "cart.total" %></h3></td>
          <td><h3><strong><%= number_to_currency(total_money(@carts)) %></strong></h3></td>
        </tr>
        <tr>
          <td colspan="5">
          <%= link_to t("cart.back_service"), services_path, class:"btn" %>
          </td>
          <td>
            <%= link_to (t"cart.confirm"), orders_path, method: :post, class: "btn btn-success" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="row justify-content-center section-padding30">
    <div class="col-lg-6">
      <div class="section-tittle text-center mb-100">
        <h3><%= t "staff.empty_field" %></h3>
      </div>
    </div>
  </div>
<% end %>
