<% provide(:title, t("views.sessions.new.title")) %>
<div class="container signup container-sign">
  <div class="d-flex justify-content-center h-100">
    <div class="card">

      <!--title-->
      <div class="card-header">
        <h3><%= t "views.sessions.new.title" %></h3>
      </div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <!-- email-->
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <%= f.label :email, class:"input-group-text"  %>
            </div>
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: :email %>
          </div>

         <!-- password-->
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <%= f.label :password, class:"input-group-text"  %>
            </div>
            <%= f.password_field :password, class: "form-control", placeholder: :password %>
          </div>

          <% if devise_mapping.rememberable? %>
            <!-- remember -->
            <div class="row align-items-center remember">
              <%= f.label :remember_me, class: "checkbox inline" do %>
                <%= f.check_box :remember_me %>
                <%= t "views.sessions.new.remember" %>
              <% end %>
            </div>
          <% end %>

          <!-- btn_signup -->
          <div class="form-group">
            <%= f.submit yield(:button_text), value: t("views.sessions.new.title"), class: "btn submit-btn1" %>
          </div>
        <% end %>
      </div>
      <div class="card-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
