<p><%= t "mailer.hello" %> <%= @resource.email %>!</p>

<p><%= t "mailer.reset_pw_info" %></p>

<p><%= link_to t("mailer.reset_pw_link"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t "mailer.reset_pw_info1" %></p>
<p><%= t "mailer.reset_pw_info2" %></p>
