<div class="single-comment justify-content-between d-flex">
  <div class="user justify-content-between d-flex">
    <div class="thumb">
      <%= image_tag review.account.display_image if review.account.image.attached? %>
    </div>
    <div class="desc">
      <div class="rated">
        <% for i in 1..5 do %>
          <% if i <= review.rate %>
            <%= render "shared/star_checked" %>
          <% else %>
            <%= render "shared/star_unchecked" %>
          <% end %>
        <% end %>
      </div>
      <p class="comment">
        <%= review.content %>
      </p>
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <h5><%= review.account.full_name %></h5>
          <p class="date"><%= l review.created_at, format: :long  %></p>
        </div>
        <% if current_account? review.account %>
          <%= link_to "delete", review, class: "btn-delete", method: :delete,
            data: {confirm: t("views.accounts.review.you_sure")} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
