<div class="slider-area2">
  <div class="slider-height2 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap hero-cap2 text-center">
            <h2><%= t "staff.staffs" %></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="team-area section-padding30">
  <div class="container">
    <!-- Section Tittle -->
   <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-tittle text-center mb-100">
          <span><%= t "staff.our_staff" %></span>
          <h2><%= t "staff.our_specialist" %></h2>
        </div>
      </div>
    </div>

    <%= search_form_for @q  do |f| %>
      <%= f.search_field :account, placeholder: t("filter.searching") %>
      <%= f.collection_select :license_major_id_eq, Major.order(:name), :id, :name, class: "form-control" %>
      <%= f.submit t "staff.btn_search" %>
    <% end %>

    <% unless @staffs.any? %>
      <div class="row justify-content-center section-padding30">
        <div class="col-lg-6">
          <div class="section-tittle text-center mb-100">
            <h3><%= t "staff.empty_field" %></h3>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row">
        <%= render partial: "staff", collection: @staffs %>
      </div>
      <%= will_paginate @staffs %>
    <% end %>
  </div>
</div>
