<div class="slider-area2">
  <div class="slider-height2 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap hero-cap2 text-center">
            <h2><%= t "staff.staffs" %></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="team-area section-padding30">
  <div class="container">
    <!-- Section Tittle -->
   <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-tittle text-center mb-100">
          <span><%= t "staff.our_staff" %></span>
          <h2><%= t "staff.our_specialist" %></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <% @staff.each do |staff| %>
        <%= render partial: "staff", locals: {staff: staff} %>
      <% end %>
    </div>
    <%= will_paginate @staff %>
  </div>
</div>
